@page
@model Othello_Web.Pages_OthelloGames.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OthelloGame</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OthelloGame.StartedAt" class="control-label"></label>
                <input asp-for="OthelloGame.StartedAt" class="form-control" />
                <span asp-validation-for="OthelloGame.StartedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthelloGame.GameOverAt" class="control-label"></label>
                <input asp-for="OthelloGame.GameOverAt" class="form-control" />
                <span asp-validation-for="OthelloGame.GameOverAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthelloGame.Player1Name" class="control-label"></label>
                <input asp-for="OthelloGame.Player1Name" class="form-control" />
                <span asp-validation-for="OthelloGame.Player1Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthelloGame.Player1Type" class="control-label"></label>
                <select asp-for="OthelloGame.Player1Type" class="form-control"></select>
                <span asp-validation-for="OthelloGame.Player1Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthelloGame.Player2Name" class="control-label"></label>
                <input asp-for="OthelloGame.Player2Name" class="form-control" />
                <span asp-validation-for="OthelloGame.Player2Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthelloGame.Player2Type" class="control-label"></label>
                <select asp-for="OthelloGame.Player2Type" class="form-control"></select>
                <span asp-validation-for="OthelloGame.Player2Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthelloGame.OthelloOptionId" class="control-label"></label>
                <select asp-for="OthelloGame.OthelloOptionId" class ="form-control" asp-items="ViewBag.OthelloOptionId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
