@page
@model Othello_Web.Pages_OthelloGames.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Othello Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OthelloGame.Id" />
            <div class="form-group">
                <label asp-for="OthelloGame.StartedAt" class="control-label"></label>
                <input asp-for="OthelloGame.StartedAt" class="form-control" />
                <span asp-validation-for="OthelloGame.StartedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthelloGame.GameOverAt" class="control-label"></label>
                <input asp-for="OthelloGame.GameOverAt" class="form-control" />
                <span asp-validation-for="OthelloGame.GameOverAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthelloGame.Player1Name" class="control-label"></label>
                <input asp-for="OthelloGame.Player1Name" class="form-control" />
                <span asp-validation-for="OthelloGame.Player1Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthelloGame.Player1Type" class="control-label"></label>
                <select asp-for="OthelloGame.Player1Type" class="form-control"></select>
                <span asp-validation-for="OthelloGame.Player1Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthelloGame.Player2Name" class="control-label"></label>
                <input asp-for="OthelloGame.Player2Name" class="form-control" />
                <span asp-validation-for="OthelloGame.Player2Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthelloGame.Player2Type" class="control-label"></label>
                <select asp-for="OthelloGame.Player2Type" class="form-control"></select>
                <span asp-validation-for="OthelloGame.Player2Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OthelloOption.Name" class="control-label"></label>
                <select asp-for="OthelloOption.Name" class="form-control" asp-items="ViewBag.OthelloGameOption"></select>
                <span asp-validation-for="OthelloOption.Name" class="text-danger" asp-items="ViewBag.OthelloGameOption"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
