@page
@model Othello_Web.Pages.OthelloGames.PlayModel

<h1>Now moving @Model.CurrentPlayer
    <br/>Player One: @Model.Game.Player1Name
    <br/>Player Two: @Model.Game.Player2Name</h1>
<table class="table table-bordered game-table">
    @for (var y = 0; y < Model.Brain.BoardSizeVertical; y++)
    {
        <tr>
        @for (var x = 0; x < Model.Brain.BoardSizeHorizontal; x++)
        {
            <td class="game-table-cell" onclick="window.location = 'Play?id=@Model.Game.Id&x=@x&y=@y'" style="padding: 0;">

                @if (Model.Board[x, y].IsValid)
                {
                    <img width="100%" height="100%" src="https://i.ibb.co/qgDFC0F/Valid.png"/>
                } else if (Model.Board[x, y].PlayerColor == "White")
                {
                    <img width="100%" height="100%" src="https://i.ibb.co/CHrs4Mj/White.png"/>
                } else if (Model.Board[x, y].PlayerColor == "Black")
                {
                        <img width="100%" height="100%" src="https://i.ibb.co/4TV32dF/Black.png"/>
                }
                else
                {
                        <img width="100%" height="100%" src="https://i.ibb.co/b11Qsy0/Square.png" />
                }
            </td>
        }
        </tr>
    }
</table>
