html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

.wrapper {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3, 1fr)
}

.one {
    grid-column: 2/3;
    grid-row: 1;
    margin-left: auto;
    margin-right: auto;
}

.two {
    grid-column: 1;
    grid-row: 2/5;
}

.three {
    grid-column: 3;
    grid-row: 2/5;
    margin-left: auto;
}

.four {
    width: 550px;
    grid-column: 2/3;
    grid-row: 2/3;
}



body {
  margin-bottom: 60px;
}

img {
    display: block;
}

.game-table {
    margin-left: auto;
    margin-right: auto;
    width: initial;
    height: initial;

    border-collapse: collapse;
}

.game-table-cell {
    width: 75px;
    height: 75px;
}

